.container {
  max-height: 600px;
  height: 90vh;
  min-height: 550px;
  width: 25vw;
  min-width: 340px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 5vh auto;
}

.head {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(255, 153, 0);
  height: 18%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.output {
  background-image: linear-gradient(
    to bottom,
    rgb(24, 24, 24),
    rgb(23, 23, 23)
  );
  height: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.numberPad {
  background-image: linear-gradient(
    to bottom,
    rgb(23, 23, 23),
    rgb(15, 15, 15)
  );
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 60%;
}

.name {
  background-color: black;
  color: rgb(255, 153, 0);
  padding: 4px 8px;
  border-radius: 6px;
  margin-right: 4%;
  letter-spacing: 2px;
  font-weight: 500;
}
