.CalcButton {
  aspect-ratio: 1;
  place-items: center;
  border-radius: 50%;
  font-size: large;
  width: 55px;
  height: 55px;
  display: block;
  transition: 0.4s;
  overflow: hidden;
  border: none;
}

.CalcButton:active {
  -ms-transform: translateY(1px);
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  border-bottom: none;
  border-left: none;
}

.white-btn {
  color: white;
  background-image: linear-gradient(to bottom, rgb(12, 5, 101), rgb(2, 1, 11));
  border-bottom: solid 1.4px white;
  border-left: solid 1.4px white;
}

.orange-btn {
  background-image: linear-gradient(
    to bottom,
    rgb(250, 107, 5),
    rgb(255, 42, 0)
  );
  color: white;
  border-bottom: solid 2px white;
  border-left: solid 2px white;
}

.black-btn {
  background-image: linear-gradient(to bottom, rgb(16, 16, 16), rgb(0, 0, 0));
  color: white;
  border-bottom: solid 1.8px #45aebc;
  border-left: solid 1.8px #45aebc;
}
