/* --------------------  Number Pad - Common styles ---------------------------*/

.CalcButton {
  aspect-ratio: 1;
  place-items: center;
  border-radius: 50%;
  font-size: large;
  width: 55px;
  height: 55px;
  display: block;
  overflow: hidden;
  border: none;
}

.CalcButton:active {
  /* -ms-transform: translateY(1px);
  -webkit-transform: translateY(1px);
  transform: translateY(1px); */
  border: none;
  box-shadow: none;
}

.blue-btn {
  color: white;
  background-image: linear-gradient(to bottom, rgb(12, 5, 101), rgb(2, 1, 11));
}

.orange-btn {
  color: white;
  background-image: linear-gradient(
    to bottom,
    rgb(250, 107, 5),
    rgb(255, 42, 0)
  );
}

.black-btn {
  color: white;
  background-image: linear-gradient(to bottom, rgb(16, 16, 16), rgb(0, 0, 0));
}

/* --------------------------------------------------------------------------*/

/* --------------------  Number Pad - Colour themes ---------------------------*/

.btn-pink {
  border: solid 1.5px #ff00cc;
}

.btn-skyblue {
  border: solid 1.5px #76d7ea;
}

.btn-red {
  border: solid 1.5px #ff0004;
}

.btn-green {
  border: solid 1.5px #87ff2a;
}

.btn-yellow {
  border: solid 1.5px #fdff00;
}

/* --------------------------------------------------------------------------*/
