/*------------------------ Calculator Container Styles -------------------------------*/

.main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  height: 62rem;
  width: 36rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 3rem 1rem;
}

/*------------------------------------------------------------------------------------*/

/*-------------------------- Container Header Styles ---------------------------------*/

.head {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(255, 153, 0);
  height: 8rem;
  display: flex;
  justify-content: right;
  align-items: center;
}

.name {
  background-color: black;
  color: rgb(255, 153, 0);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  margin-right: 2rem;
  letter-spacing: 2px;
  font-weight: 500;
}

/*---------------------------------------------------------------------------------*/

/*-------------------------- OutPut Screen Styles ---------------------------------*/

.output {
  background-image: linear-gradient(
    to bottom,
    rgb(35, 35, 35),
    rgb(32, 32, 32)
  );
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/*---------------------------------------------------------------------------------*/

/*-------------------------- NumberPad Styles -------------------------------------*/

.numberPad {
  background-image: linear-gradient(
    to bottom,
    rgb(32, 32, 32),
    rgb(20, 20, 20)
  );
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 40rem;
}

/*---------------------------------------------------------------------------------*/
