.output-field {
  border-radius: 4px;
  height: 70%;
  width: 80%;
  background-color: black;
  color: white;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.inner-field {
  border-radius: 4px;
  height: 70%;
  width: 70%;
  background-image: linear-gradient(
    to bottom,
    rgb(20, 20, 20),
    rgb(15, 15, 15)
  );
  color: white;
  text-align: right;
  margin-right: 4%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: medium;
}

.wrap {
  word-break: break-word;
  hyphens: none;
}

.indicator {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 6%;
}

.ind-pink {
  background-color: #ff00cc;
  box-shadow: 0 0 30px 9px #ff00cc;
}

.ind-skyblue {
  background-color: #76d7ea;
  box-shadow: 0 0 30px 9px #76d7ea;
}

.ind-red {
  background-color: #ff0004;
  box-shadow: 0 0 30px 9px #ff0004;
}

.ind-green {
  background-color: #87ff2a;
  box-shadow: 0 0 30px 9px #87ff2a;
}

.ind-yellow {
  background-color: #fdff00;
  box-shadow: 0 0 30px 9px #fdff00;
}
